body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: darkgrey;
    text-align: center;
}

.container{
    background-color: grey;
}

.form-signin-heading {
    font-weight: bold;
}

.form-control {
    font-weight: normal;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.button{
    margin: 20px 30px;
    border-radius: 5px;
    text-align: center;
}